#Featured {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.Featured__carousel {
  float: left;
  max-width: 637px;
}

.Featured__extra {
  float: right;
  min-width: 300px;
  max-width: 300px;
  margin-left: 30px;
}

.Featured__ads {
}

.Featured__subscribe {
  padding: 5px;
  height: 205px;
  margin-top: 10px;
  border: 1px dashed rgba(34,36,38,.15);
  min-width: 300px;
  max-width: 300px;
  text-align: center;
}

.Subscribe__header {
  text-transform: uppercase;
}

.Subscribe_text {
}

.Subscribe__button, .Subscribe__input {
  width: 250px !important;
}

@media (max-width: 1042px) {
  .Featured__carousel {
    max-width: 100%;
  }
  .Featured__extra {
    display: none;
  }
}