#Featured {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin:0 0 1em 0;
}

.Featured {
  @include has(carousel) {
    position: relative;
    width: 637px;

    & img {
      max-height: 400px;
    }
  }

  @include has(extra) {
    min-width: 300px;
    max-width: 300px;
    margin-left: 30px;

    @include has(ads) {

    }

    @include has(subscribe) {
      padding: 5px;
      height: 205px;
      margin-top: 10px;
      border: 1px dashed rgba(34, 36, 38, .15);
      min-width: 300px;
      max-width: 300px;
      text-align: center;

      @include has(header) {
        text-transform: uppercase;
      }

      @include has(text) {
      }

      @include has(button) {
        width: 250px !important;
      }

      @include has(input) {
        width: 250px !important;
      }
    }
  }
}

@media (max-width: 1042px) {
  .Featured__carousel {
    width: 100%;
  }
  .Featured__extra {
    display: none;
  }
}