.Heading--Fancy {
  margin-top: 1em;
  margin-bottom: 1em;
  color: #3a3a3a;
  font-weight: 400;
  text-align: center;
  overflow: hidden;

  & span {
    position: relative;
  }

  & span:before {
    right: 100%;
    margin-right: 40px;
    content: "";
    position: absolute;
    border-top: 2px solid #d6d6d6;
    width: 600px;
    height: 2px;
    top: 50%;
  }

  & span:after {
    left: 100%;
    margin-left: 40px;
    content: "";
    position: absolute;
    border-top: 2px solid #d6d6d6;
    width: 600px;
    height: 2px;
    top: 50%;
  }
}