#Header {
  margin: 0 0 1.5em 0;
}

#MobileMenu {
  display: none;
}

.logo_medium {
  width: 300px !important;
  height: auto !important;
  margin-left: -14px !important;
  margin-right: 0 !important;
}

.logo_small {
  width: 250px !important;
  height: auto !important;
  margin-left: -14px !important;
  margin-right: 0 !important;
}