#Products {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.Product {
  position: relative;

  margin: 1em 0 1em 0;
}

.Product__default {
  min-width: 300px;
  max-width: 300px;
}

.Product__small {
  min-width: 220px;
  max-width: 220px;
}

.Product__title {
  display: block;
  text-align: center;
  font-size: 1.5em;
  margin: 0 0 0.2em 0;
}

.Product__title--small {
  font-size: 1em;
}

.Product__media {
}

.Product__image {
  width: 100%;
}

.Product__description {
  text-align: justify;
}

.Product__info {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 1em;
}

.Product__meta {
  display: flex;
  flex-flow: column wrap;
  width: 50%;
  justify-content: center;
}

.Product__price {
  font-weight: bold;
  font-size: 3em;
  line-height: 1em;
}

.Product__favorites {

}

.Product__buy {
  width: 50%;
}

.Product__Share {
  display: none;
  justify-content: flex-start;
}

.Product__Share--button {
  width: 32px;
  height: 32px;
  margin-right: 1em;
}

@media (max-width: 680px) {
  .Product {
    min-width: 100%;
    margin: 1em 0 1em 0;
  }

  .Product__Share {
    display: flex;
  }
}

.Product__details--container {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Product__details--media {
  width: 640px;
}

.Product__details--meta {
  height: 530px;
  max-width: 300px;
}

.Product__details--title {
  position: absolute;
  color: white;
  text-shadow: 2px 2px 2px #222;
  max-width: 510px;
  font-size: 2em;
  left: 25px;
  top: 25px;
}

.Product__details--image {
  width: 100%;
}

.Product__details--media--item {
  margin: 0 0 1em 0;
}

.Product__details--media--item:last-of-type {
  margin: 0;
}

.Product__details--description {
  text-align: justify;
  font-size: 1.1em;
}

.Product__details--price {
  text-align: center;
  font-weight: bold;
  font-size: 3em;
  line-height: 1em;
  margin: 0.65em;
}

.Product__details--name {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  margin: 0.5em;
}

.Product__details--meta--responsive {
  display: none;
}

.Product__details--share {
  display:flex;
  width: 530px;
  margin-top: 1em;
}

@media (max-width: 1045px) {
  .Product__details--media {
    width: 100%;
  }
  .Product__details--meta {
    display: none;
  }

  .Product__details--meta--responsive {
    display: block;
  }

  .Product__details--price {
    font-size: 1.5em;
    margin: 0.5em;
  }

  /*.Product__Share--network {
    display: none;
  }*/
}