#Products {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

$product-width: 300px;
$product-width-small: 220px;
$single-product-breakpoint: 680px;

.Product {
  width: $product-width;
  margin: 1em 0 1em 0;
  position: relative;

  @include variant(small) {
    width: $product-width-small;
  }

  @include has(title) {
    display: block;
    text-align: center;
    font-size: 1.5em;
    margin: 0 0 0.2em 0;

    @include variant(small) {
      font-size: 1em;
    }
  }

  @include has(media) {
    @include has(image) {
      width: 100%;
    }
  }

  @include has(description) {
    text-align: justify;
  }

  @include has(meta) {

  }

  @include has(info) {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 1em;

    @include has(meta) {
      display: flex;
      flex-flow: column wrap;
      width: 50%;
      justify-content: center;

      @include has(price) {
        font-weight: bold;
        font-size: 3em;
        line-height: 1em;
      }

    }

    @include has(buy) {
      width: 50%;
    }
  }

  @include has(share) {
    display: none;
    justify-content: flex-start;

    @include has(button) {
      width: 32px;
      height: 32px;
      margin-right: 1em;
    }
    @media (max-width: $single-product-breakpoint) {
      display: flex;
    }
  }

  @media (max-width: $single-product-breakpoint) {
    width: 100%;
    margin: 1em 0 1em 0;
  }
}

/*
* Product Details
*/
$product-details-breakpoint: 1045px;

.ProductDetails {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @include has(media) {
    width: 640px;

    @include has(item) {
      width: 635px;
      margin: 0 0 1em 0;

      @include has(title) {
        position: absolute;
        color: white;
        text-shadow: 2px 2px 2px #222;
        max-width: 510px;
        font-size: 2em;
        left: 25px;
        top: 25px;

        @media (max-width: $product-details-breakpoint) {
          display: none;
        }
      }

      @include has(image) {
        width: 100%;
      }

      &:last-of-type {
        margin: 0;
      }

      @media (max-width: $product-details-breakpoint) {
        width: 100%;
      }
    }

    @media (max-width: $product-details-breakpoint) {
      width: 100%;
    }
  }

  @include has(meta) {
    height: 530px;
    max-width: 300px;

    @include has(description) {
      text-align: justify;
      font-size: 1.1em;
    }

    @include has(price) {
      text-align: center;
      font-weight: bold;
      font-size: 3em;
      line-height: 1em;
      margin: 0.65em;
    }

    @include has(responsive) {
      display: none;

      @include has(name) {
        text-align: center;
        font-weight: bold;
        font-size: 1.5em;
        margin: 0.5em;
      }

      @include has(description) {
        text-align: justify;
        font-size: 1.1em;
      }

      @include has(price) {
        text-align: center;
        font-weight: bold;
        font-size: 1.5em;
        margin: 0.5em;
      }

      @media (max-width: $product-details-breakpoint) {
        display: block;
      }
    }
    @media (max-width: $product-details-breakpoint) {
      display: none;
    }
  }

  @include has(share) {
    display: flex;
    width: 530px;
    margin-top: 1em;
  }
}