/*
* WIDGETS
*/

.widget {
    margin-bottom: 20px;
}

.widget .segment {
    border-top: 5px solid #000;
    margin-bottom: .5em;
}

/*
* SHARE BUTTONS
*/

.ShareButtons {
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    bottom: 0;
    right: -64px;

    opacity:0;
    transition:opacity 0.5s linear, ease 0.5s;
}

.image:hover .ShareButtons {
    opacity: 1;
    right: 10px;
}

.ShareButton__item__image {
    max-width: 48px;
    max-height: 48px;
    transition:all 0.25s linear;
}

.ShareButton__item__image:hover {
    transform: rotate(25deg);
}

.ShareButton__item {
    margin-bottom: 5px;
}

/*
* PRICE SLIDER
*/

#PriceSlider {
    padding-top: 1em;
    padding-bottom: 1em;
}

.PriceSlider__container {
    margin-bottom: 15px;
}

.PriceSlider__current {
    position: absolute;
    right: 15px;
    font-weight: bold;
}

.PriceSlider__minimum {
    position: absolute;
    left: 15px;
    font-weight: bold;
}

/*
* Utility Classes
*/

.utility-active-category {
    font-weight: bold;
}