@charset "UTF-8";
/* Slider */
.slick-loading .slick-list {
  background: #fff url("/img/ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("/fonts/slick.eot");
  src: url("/fonts/slick.eot?#iefix") format("embedded-opentype"), url("/fonts/slick.woff") format("woff"), url("/fonts/slick.ttf") format("truetype"), url("/fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  bottom: 50%;
  margin-top: -10px \9;
  /*lte IE 8*/
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }

.slick-prev:before, .slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: 10px;
  bottom: 40px;
  z-index: 100; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: 10px;
  bottom: 40px;
  z-index: 100; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-slider {
  margin-bottom: 0px; }

.slick-dots {
  position: absolute;
  bottom: -45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: white;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: white;
      opacity: 0.75; }

.slick-slide {
  position: relative; }

.slick-meta {
  text-align: center;
  line-height: 20px;
  width: 100%;
  text-shadow: 2px 2px 2px #222;
  font-weight: bold;
  color: white;
  position: absolute;
  padding: 20px 0 0;
  bottom: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.66) 0%, transparent 100%); }

.slick-meta h3 {
  font-size: 2.5em;
  font-weight: bold;
  margin: 0; }

.slick-meta p {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 30px; }

.slick-meta h3:hover {
  color: #FBBD08; }

.ShareButtonsList {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  top: 100px;
  right: -64px;
  opacity: 0;
  transition: opacity 0.5s linear, ease 0.5s; }
  @media (max-width: 680px) {
    .ShareButtonsList {
      display: none; } }

.Product:hover .ShareButtonsList {
  opacity: 1;
  right: 11px; }

.ShareButton__item {
  margin-bottom: 5px; }
  .ShareButton__item__image {
    max-width: 48px;
    max-height: 48px;
    transition: all 0.25s linear; }
    .ShareButton__item__image:hover {
      -webkit-transform: rotate(25deg);
      transform: rotate(25deg); }

.ShareButtons {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 1em; }
  @media (max-width: 680px) {
    .ShareButtons .ShareButton__network {
      display: none; } }

.widget {
  margin-bottom: 20px; }

.widget .segment {
  border-top: 5px solid #000;
  margin-bottom: .5em; }

@media only screen and (max-width: 700px) {
  .ui.fixed.menu {
    display: none !important; } }

#Header {
  margin: 0 0 1.5em 0; }

.hidden.menu {
  display: none; }

.utility-active-category {
  color: #FBBD08; }

.utility-show {
  display: block !important; }

.utility-hide {
  display: none !important; }

#Products {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.Product {
  width: 300px;
  margin: 1em 0 1em 0;
  position: relative; }
  .Product--small {
    width: 220px; }
  .Product__title {
    display: block;
    text-align: center;
    font-size: 1.4em;
    font-weight: bold;
    margin: 0 0 0.2em 0; }
    .Product__title--small {
      font-size: 1em; }
  .Product__media__image {
    width: 100%; }
  .Product__description {
    text-align: justify;
    min-height: 114px; }
    @media (max-width: 680px) {
      .Product__description {
        min-height: 0; } }
  .Product__info {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 1em; }
    .Product__info__meta {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
      flex-flow: column wrap;
      width: 50%;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .Product__info__meta__price {
        font-weight: bold;
        font-size: 3em;
        line-height: 1em;
        color: #606060; }
    .Product__info__buy {
      width: 50%; }
  .Product__share {
    display: none;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    .Product__share__button {
      width: 32px;
      height: 32px;
      margin-right: 1em; }
    @media (max-width: 680px) {
      .Product__share {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; } }
  @media (max-width: 680px) {
    .Product {
      width: 100%;
      margin: 1em 0 1em 0; } }

/*
* Product Details
*/
.ProductDetails {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .ProductDetails__media {
    width: 640px; }
    .ProductDetails__media__item {
      width: 635px;
      margin: 0 0 1em 0; }
      .ProductDetails__media__item__title {
        position: absolute;
        color: white;
        text-shadow: 2px 2px 2px #222;
        max-width: 510px;
        font-size: 2em;
        left: 25px;
        top: 25px; }
        @media (max-width: 1045px) {
          .ProductDetails__media__item__title {
            display: none; } }
      .ProductDetails__media__item__image {
        width: 100%; }
      .ProductDetails__media__item:last-of-type {
        margin: 0; }
      @media (max-width: 1045px) {
        .ProductDetails__media__item {
          width: 100%; }
          .ProductDetails__media__item:nth-of-type(n+2) {
            display: none; } }
    @media (max-width: 1045px) {
      .ProductDetails__media {
        width: 100%; } }
  .ProductDetails__meta {
    height: 530px;
    max-width: 300px; }
    .ProductDetails__meta__description {
      text-align: justify;
      line-height: 1.6em;
      font-size: 1em; }
    .ProductDetails__meta__price {
      text-align: center;
      font-weight: bold;
      font-size: 3em;
      line-height: 1em;
      margin: 0.75em; }
    .ProductDetails__meta__responsive {
      display: none; }
      .ProductDetails__meta__responsive__name {
        text-align: center;
        font-weight: bold;
        font-size: 1.5em;
        margin: 0.5em; }
      .ProductDetails__meta__responsive__description {
        text-align: justify;
        font-size: 1.1em; }
      .ProductDetails__meta__responsive__price {
        text-align: center;
        font-weight: bold;
        font-size: 1.5em;
        margin: 0.5em; }
      @media (max-width: 1045px) {
        .ProductDetails__meta__responsive {
          display: block; } }
    @media (max-width: 1045px) {
      .ProductDetails__meta {
        display: none; } }

#Featured {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 0 1em 0; }

.Featured__carousel {
  position: relative;
  width: 637px; }
  .Featured__carousel img {
    max-height: 400px; }

.Featured__extra {
  min-width: 300px;
  max-width: 300px;
  margin-left: 30px; }
  .Featured__extra__subscribe {
    padding: 5px;
    height: 205px;
    margin-top: 10px;
    border: 1px dashed rgba(34, 36, 38, 0.15);
    min-width: 300px;
    max-width: 300px;
    text-align: center; }
    .Featured__extra__subscribe__header {
      text-transform: uppercase; }
    .Featured__extra__subscribe__button {
      width: 250px !important; }
    .Featured__extra__subscribe__input {
      width: 250px !important; }

@media (max-width: 1042px) {
  .Featured__carousel {
    width: 100%; }
  .Featured__extra {
    display: none; } }

#PriceSlider {
  padding-top: 1em;
  padding-bottom: 1em; }

.PriceSlider__container {
  margin-bottom: 15px; }

.PriceSlider__current {
  position: absolute;
  right: 15px;
  font-weight: bold; }

.PriceSlider__minimum {
  position: absolute;
  left: 15px;
  font-weight: bold; }
